<link rel="stylesheet" href="/css/community.css">

<header class="bg-light p-3">
    <div class="container d-flex justify-content-between align-items-center">
        <!-- Logo -->
        <div class="d-flex align-items-center">
            <img src="/other images/logo.png" alt="Bluestock Logo" class="logo me-2">
            <h1 class="h5 mb-0" style="color: #333;">BLUESTOCK</h1>
        </div>

        <!-- Navbar Links -->
        <nav>
            <ul class="nav">
                <li class="nav-item"><a class="nav-link" href="/listings">IPO</a></li>
                <li class="nav-item"><a class="nav-link" href="/community">Community</a></li>
                <li class="nav-item"><a class="nav-link" href="/founders">Founders</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Brokers</a></li>
                <li class="nav-item"><a class="nav-link" href="/support">Support</a></li>
            </ul>
        </nav>

        <!-- Right Buttons -->
        <div class="d-flex align-items-center">
            <a href="/login" class="btn btn-link me-2">Sign In</a>
            <a href="/signup" class="btn btn-primary">Sign Up Now</a>


        </div>
    </div>
</header>
